body {
  margin: 30px;
  font-family: sans-serif;
}

.tree {
  margin: 1em;
  display: inline-block;
  vertical-align: top;
  overflow-y: auto;
  height: 80vh;
}

.tree input {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

.tree input ~ ul { display: none; }

.tree input:checked ~ ul { display: block; }

.tree li {
  line-height: 1.2;
  position: relative;
  padding: 0 0 1em 1em;
}

.tree ul {  padding-inline-start: 0px; }

.tree ul li { padding: 1em 0 0 1em; list-style-type: none; }

.tree > li:last-child { padding-bottom: 0; }

.tree_label {
  position: relative;
  display: inline-block;
  background: #fff;
}

label.tree_label { cursor: pointer; }

label.tree_label:hover { color: #666; }

.tree_label:hover > .download {
  display: block;
  float: right;
}

.download {
  display: none;
  color: blue;
  padding-left: 1em;
  padding-right: 1em;
}

label.tree_label:before {
  background: #000;
  color: #fff;
  position: relative;
  z-index: 1;
  float: left;
  margin: 0 1em 0 -2em;
  width: 1em;
  height: 1em;
  border-radius: 1em;
  content: '+';
  text-align: center;
  line-height: .9em;
  }

:checked ~ label.tree_label:before { content: '–'; }

.tree li:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -.5em;
  display: block;
  width: 0;
  border-left: 1px solid #777;
  content: "";
}

.tree_label:after {
  position: absolute;
  top: 0;
  left: -1.5em;
  display: block;
  height: 0.5em;
  width: 1em;
  border-bottom: 1px solid #777;
  border-left: 1px solid #777;
  border-radius: 0 0 0 .3em;
  content: '';
}

label.tree_label:after { border-bottom: 0; }

:checked ~ label.tree_label:after {
  border-radius: 0 .3em 0 0;
  border-top: 1px solid #777;
  border-right: 1px solid #777;
  border-bottom: 0;
  border-left: 0;
  bottom: 0;
  top: 0.5em;
  height: auto;
}

.tree li:last-child:before {
  height: 1em;
  bottom: auto;
}

.tree > li:last-child:before { display: none; }

.tree_custom {
  display: block;
  background: #eee;
  padding: 1em;
  border-radius: 0.3em;
}

.hexeditor {
  font-family: monospace;
  display: inline-block;
  vertical-align:top;
  overflow-x: auto;
  height: 80vh;
  overflow-y: hidden;
}

.hexeditor .hexdump {
  padding: 0px;
  vertical-align: top;
  display: inline-block;
}

.hexeditor .bytes {
  padding: 0px;
  padding-right: 2em;
  vertical-align: top;
  display: inline-block;
}

.readablebyteswrapper {
  padding: 0px;
  padding-right: 2em;
  vertical-align: top;
  display: inline-block;
  max-width: 300px;
  overflow: auto;
  height: 100%;
}

.byte {
  display: inline-block;
  text-align: center;
}

.hexeditor .hexdump .byte {
  width: 30px;
}

.hexeditor .bytes .byte {
  width: 10px;
}

.byterow {
  display: inline-block;
  height: 1.1em;
  color: gray;
}

.highlighted {
  background-color: #42bff5;
  color: white;
}

.manually-focused {
  background-color: #FF0000;
  color: white;
}

.cursor {
  background-color: #0000FF;
  color: white;
  cursor: none;
}

.byteline {
  height: 1.2em;
}

.rawdump {
  font-family: monospace;
}

.scrollbar {
  min-height: 80vh;
}

.hexeditor .scrollcontainer {
  overflow-y: scroll;
  display: inline-block;
  width: 3em;
  vertical-align: top;
  height: 100%;
}

.hexeditor .scrollcapture {
  display: inline-block;
  vertical-align: top;
}

.searchresult {
    -webkit-box-shadow:0 0 20px #FFFF00;
    -moz-box-shadow: 0 0 20px #FFFF00;
    box-shadow:0 0 20px #FFFF00;
    background-color:#FFFF00;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}
.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 60%;
  position: relative;
  transition: all 5s ease-in-out;
}
.popup h2 {
  margin-top: 0;
  color: #333;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}
