<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PolyFile | {{file_path}}</title>
    <script type="text/javascript" async="" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <style>
{% include "hexdump.css" %}
    </style>
    <script type="text/javascript">
        /* BEGIN JQUERY */
{% include "jquery-3.4.1.min.js" %}
        /* END JQUERY */
    </script>
    <script type="text/javascript">
{% include "hexdump.js" %}
    </script>
</head>
<body>
{% macro render_match(match, first) -%}
<li>
    {% if 'children' in match and match['children'] %}
    <input type="checkbox" {{'checked="checked" ' if first}}id="match{{ match['uid'] }}" />
    <label class="tree_label" for="match{{ match['uid'] }}" matchbyte="{{ match['global_offset'] }}" matchlength="{{ match['length'] }}">{{ match['type'] }}</label>
    <ul>
        {% for child in match['children'] %}
        {{ render_match(child, False) }}
        {% endfor %}
    </ul>
    {% else %}
    <span class="tree_label" matchbyte="{{ match['global_offset'] }}" matchlength="{{ match['length'] }}">{{ match['type'] }}</span>
    {% endif %}
</li>
{%- endmacro %}

<ul class="tree">
    {% for match in matches %}
        {{ render_match(match, True) }}
    {% endfor %}
</ul>

<div class="hexeditor">
    <div class="scrollcapture">
        <div class="hexdump">
            <span class="byterow">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>{% for col in range(16) %}<span class="byte" style="color:gray">{{ '%02x' % col }}</span>{% endfor %}
            <br />
            {#
    {% for row in range(input_bytes // 16 + 1) %}
    <div class="byteline"><span class="byterow">{{ '%05x' % row }}</span>
        {% for col in range(16) %}<span class="byte" byteid="{{ input_file.tell() }}">{{ input_file.read(1).hex() }}</span>{% endfor %}</div>
    {% endfor %}
            #}
        </div>
        <div class="bytes">{#
            <br />
    {% for row in range(input_bytes // 16 + 1) %}
            <div class="byteline">{% for col in range(16) %}<span class="byte" byteid="{{ read_unicode.tell() }}">{{ read_unicode() }}</span>{% endfor %}</div>
    {% endfor %}#}
        </div>
    </div>
    <div class="scrollcontainer">
        <div class="scrollheightproxy"></div>
    </div>
</div>

{#
<div class="rawdump">
{% for i, byte in read_unicode %}<span class="byte" byteid="{{ i }}">{{ byte|safe }}</span>{% endfor %}
</div>
#}

</body>
</html>