<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PolyFile | {{ filename }}</title>
    <style>
{% include "hexdump.css" %}
    </style>
    <script type="text/javascript">
        /* BEGIN JQUERY */
{% include "jquery-3.4.1.min.js" %}
        /* END JQUERY */
    </script>
    <script type="text/javascript">
        /* BEGIN download.js */
{% include "download.js" %}
        /* END download.js */
    </script>
    <script type="text/javascript">
{% include "hexdump.js" %}
    </script>
</head>
<body>
<input type="button" onclick="downloadFile()" value="Download File" />
<input type="search" placeholder="search" id="search" onsearch="pageSearch()" />
<span id="searchinfo"></span>
<span id="searchbuttons" style="display:none;">
    <input type="button" value="⬆" id="searchup" onclick="searchUp()" />
    <input type="button" value="⬇" id="searchdown" onclick="searchDown()" />
</span>
<span style="display:none;" id="clickinfo">Double-click to jump to an address</span>
<br />

{% macro render_match_name(match, first) -%}
<a href="#" class="download" title="download" onclick="downloadFile({{ match['offset'] }}, {{ match['size'] }}, '{{ match['type'] }}', '{{ match['extension'] }}')">⇩</a>
{{ match['name'] }}{% if not first %}<br />
<small style="color: gray;">{{ match['size'] }} bytes @ {{ '0x%0X' % match['offset'] }}</small>
{% endif %}{% if match['decoded'] %}<br />
[<a href="#decoded{{ match['uid'] }}">Decode</a>]{% endif %}{% if match['img_data'] %}
        <span class="tree_custom">
            <img src="{{ match['img_data'] }}" style="max-width: 8em;" />
        </span>{% endif %}
{%- endmacro %}

{% macro render_match(match, first) -%}
<li>
    {% if 'subEls' in match and match['subEls'] %}
    <input type="checkbox" {{'checked="checked" ' if first}}id="match{{ match['uid'] }}" />
    <label class="tree_label" for="match{{ match['uid'] }}" matchbyte="{{ match['offset'] }}" matchlength="{{ match['size'] }}">
        {{ render_match_name(match, first) }}
    </label>
    <ul>
        {% for child in match['subEls'] %}
        {{ render_match(child, False) }}
        {% endfor %}
    </ul>
    {% else %}
    <span class="tree_label" matchbyte="{{ match['offset'] }}" matchlength="{{ match['size'] }}">
        {{ render_match_name(match, first) }}
    </span>
    {% endif %}
</li>
{%- endmacro %}

<ul class="tree">
    {% for match in matches %}
        {{ render_match(match, True) }}
    {% endfor %}
</ul>

<div class="hexeditor">
    <div class="scrollcapture">
        <div class="hexdump">
            <center id="loading" style="cursor: wait;">
                <br />Loading…<br />
            </center>
            <span class="byterow">{% for i in range(math.ceil(math.log(input_bytes)/math.log(16))) %}&nbsp;{% endfor %}</span>{% for col in range(16) %}<span class="byte" style="color:gray">{{ '%x' % col }}</span>{% endfor %}
            <br />
            {#
    {% for row in range(input_bytes // 16 + 1) %}
    <div class="byteline"><span class="byterow">{{ '%05x' % row }}</span>
        {% for col in range(16) %}<span class="byte" byteid="{{ input_file.tell() }}">{{ input_file.read(1).hex() }}</span>{% endfor %}</div>
    {% endfor %}
            #}
        </div>
        <div class="bytes">
            <br />
    {#{% for row in range(input_bytes // 16 + 1) %}
            <div class="byteline">{% for col in range(16) %}<span class="byte" byteid="{{ read_unicode.tell() }}">{{ read_unicode() }}</span>{% endfor %}</div>
    {% endfor %}#}
        </div>
    </div>
    <div class="scrollcontainer">
        <div class="scrollheightproxy"></div>
    </div>
    <div class="readablebyteswrapper">
        <br />
        <div class="readablebytes"></div>
    </div>
</div>

{% for match, decoded in decoded_matches() %}
<div id="decoded{{ match['uid'] }}" class="overlay">
    <div class="popup">
        <h2>Decoded {{ match['name'] }}</h2>
		<a class="close" href="#">&times;</a>
        <div class="content rawdump">{{ decoded|safe }}</div>
    </div>
</div>
{% endfor %}

{#
<div class="rawdump">
{% for i, byte in read_unicode %}<span class="byte" byteid="{{ i }}">{{ byte|safe }}</span>{% endfor %}
</div>
#}

</body>
</html>